.field {
  position: relative;
}
.field input {
  text-align: right;
  padding: 20px;
}
.field input:focus {
  outline: none;
}

.currency {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
