.progress {
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 2px;
  display: flex;
  height: 15px;
  width: 100%;
}
.progress-value {
  box-shadow: 0 10px 40px -10px #000;
  border-radius: 100px;
  height: 10px;
  width: 0;
}
